@charset "utf-8";
/* CSS Document */

/*应用管理页样式*/
.manage{ float:left; background:url(../images/appManageTitl.png) no-repeat top left; font:14px/32px "微软雅黑"; font-weight:bold; float:left; height:33px; padding-left:35px; width:100%;}

.manageCent { float:left; background:url(../images/appManageCent1.png) repeat-y;  width:1000px;}
.manageBottom { width:100%; background:url(../images/appManageBottom.png) no-repeat top left; height:9px;}
/*appSearch*/
.appSearchBg{background-color:#fafafa; border-bottom:1px solid #ededed; width:945px; height:48px; line-height:48px; margin:10px 17px; padding-right:17px; }
.appSearchBg table{ width:980px; margin-left:10px;}
.appSearchBg img{margin-top:10px}
.appSearchBg input{ color:#999;  font-size:12px; height:20px; line-height:20px; width:160px;}
.appSearchBg a{ display:block; width:100px; line-height:30px; background:#666; color:#FFF; text-align:center;}
.appSearchBg a:hover{ background:#333;}
/*appTitile*/
.appTitile{clear:left; background-color:#fafafa; border-bottom:1px solid #ededed; height:32px; margin:9px 17px 0; width:964px; text-align:center}

.appTitile td{font-family:Arial, Helvetica, sans-serif,'宋体'; font-size:14px; line-height:32px; width:150px}

/*appCon*/
.appCon{clear:left; height:25px; margin:0 17px 0 17px; width:964px; text-align:center}
.appCon td{line-height:30px; width:140px}
.appCon img{margin-right:7px}

.form01{background-color:#fafafa; clear:left; font:12px/30px "Arial"; margin-top:20px; padding-left:80px; width:100%; }
.form03{height:5px; line-height:5px; margin-top:20px; border-bottom:1px solid #ededed; width:990px;}

/*云应用管理-(调整)页代码样式
---------------------------------*/
.mainResR01{float:right; width:220px; margin-right:35px}
.appTitile01{clear:left; background-color:#fafafa; border-bottom:1px solid #ededed; height:32px; margin:9px 17px 0 17px; width:666px; text-align:center}
.appTitile01 td{font-family:Arial, Helvetica, sans-serif,'宋体'; font-size:14px; line-height:32px; width:130px}

.appCon01{margin:0 17px; width:666px; text-align:center}
.appCon01 td{line-height:25px; width:125px}
.appCon01 img{margin-right:5px}
.mainRightTop{background:url(../images/mainRightTop.png) no-repeat top left; height:5px; width:100%;}
.mainRightC{background:url(../images/mainRightCRp.png) repeat-y top left; width:100%; height:110px; background-color:#fff;}
.mainRightBottom{background:url(../images/mainRightBottom.png) no-repeat top left; height:5px; width:100%;}



/*应用管理-添加页面样式*/
.appAddBg{background-color:#fafafa; border-bottom:1px solid #ededed; clear:left; font-size:14px; height:49px; line-height:52px; margin: 10px 20px 10px 20px; padding-left:30px; width:886px; font-weight:bold;}

/*应用管理-详细信息页面样式
----------------------------------*/
.appDetailL{line-height:20px; text-align:right;}
.appDetailR{line-height:20px; overflow:auto}
/*form02*/
.form02{margin:20px 0 0 80px; width:850px; word-brap:break-word; word-break:break-all}
.form02 select{width:341px; height:26px;}
.form02 input{width:337px; height:22px;}
.form02 td{padding-top:10px}

.divMs{background-color:#fafafa; clear:left; font-family:Verdana, Geneva, sans-serif,'宋体'; font-size:14px; height:28px; line-height:28px; margin:27px 17px 0 17px; padding-left:80px; width:888px}
.url{margin:34px 0 38px 135px}
.url span{font-family:Arial, Helvetica, sans-serif,'宋体'; margin: 0 0 38px 0}

.buttonImg{background-color:#fafafa; height:49px; line-height:60px; border-bottom:1px solid #ededed; margin:0 17px; padding-left:300px; width:666px}
.buttonImg a{ float:left; display:block; width:100px; line-height:30px; background:#666; color:#FFF; text-align:center; margin:10px 30px;}
.buttonImg a:hover{ background:#333;}


/*应用页面*/
.appList{ margin:0px 10px;}
.appList td{ width:220px; border-bottom:1px dashed #ccc; height:146px;}
.appList img{ float:left; margin:15px 15px 15px 10px; }
.appList h3{ margin:15px 0 10px 0; padding:0;}
.appList span{ margin-right:10px;}
.appList p{ margin:0; padding:0;}
.appHot1 img{ margin:10px; float:left;}
.appHot1 p{ margin:8px 0 0 0; padding:0;}
.appHot1 a{ font-weight:bold;}

/*应用下载页面*/
.appDown { margin:15px 15px;}
.appDown h3{ background:url(../images/repPerioIcon.png) no-repeat left 10px; font:12px/30px "宋体";; margin:0; padding:0 15px; }
.calendar{ text-align:center; margin-top:5px;}
.appVersions { line-height:30px; margin:0 0 7px 0; border-bottom:1px dashed #CCC; padding:10px 10px 0; }
.appVersions p{ margin:0; padding:0; width:550px; float:left; }
.appVersions a{ float:right; color:#027db5; font-weight:bold;}
.appDetail{ padding:0 10px; text-indent:2em; display:block; line-height:22px; margin:0; }