@charset "utf-8";
/* CSS Document */

.eduCentBg03{ width:100%; height:745px; margin-bottom:22px;}
.eduCentBgL03{ width:15px; float:left; background:url(../images/eduContTileL03.png) no-repeat; height:746px;}
.eduCentBgC03{ float:left; background:url(../images/eduContBg03.png) repeat-x; width:675px; height:746px; }
.eduContTileBg{background:url(../images/eduContTileBg.png) no-repeat top left; font:14px/32px "微软雅黑"; float:left; height:32px; margin:2px 0 0 15px; text-align:center; width:107px;}
.eduCentBgR03{ background:url(../images/eduContTileR03.png) no-repeat; float:left; height:746px; width:9px;}

.eduCentNotes1 ul{ height:580px; margin:10px 0px 30px 0; width:93%; padding:3px 20px 0 5px }
.eduCentNotes1 li{ border-bottom:1px dashed #CCC; line-height:20px; margin:4px 0; padding-left:10px; }
.eduCentNotes1 a{ float:left; display:block; }
.eduCentNotes1 a:hover{ text-decoration:none; color:#F60;  }
.eduCentNotes1 span{ float:right; display:block;}
