@charset "utf-8";
/* CSS Document */

/*资讯页面二级页*/
.infoIIup{ margin-bottom:22px; }
.eduCentNotes1{  margin:15px; width:655px; height:285px; }
.eduCentNotes1 li{ background:url(../images/cent_2_list.png) no-repeat 5px; border-bottom:1px dashed #CCC; line-height:27px; padding-left:15px; }
.eduCentNotes1 a{ float:left; }
.eduCentNotes1 a:hover{ text-decoration:none; color:#F60;  }
.eduCentNotes1 span{ float:right;}




