@CHARSET "UTF-8";

#buttonDiv {
	width: 600px;
	height: 40px;
	padding-left: 50px;
}

#buttonDiv ul LI {
	width: 260px;
	height: 40px;
	float: left;
}

#buttonDiv ul SPAN {
	display: inline;
	text-align: center;
	float: left;
	width: 100px;
	line-height: 30px;
	position: relative;
	padding: 0px;
}

#buttonDiv ul li INPUT {
	width: 110px;
	float: left;
	padding: 0px;
	position: relative;
	height: 32px;
	line-height: 32px;
	margin-top: 3px;
	margin-right: 20px;
}

#buttonDiv ul li SELECT {
	width: 120px;
	height: 24px;
	float: left;
	padding: 0px;
	position: relative;
	float: left;
	line-height: 24px;
	margin-top: 3px;
}

#resultTableDiv {
	margin-top: 20px;
}

#resultTableDiv table {
	width: 800px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin: 10px auto;
	text-align: center;
	border-collapse: collapse;
}

#resultTableDiv table th {
	height: 29px;
	line-height: 29px;
	color: #3c3c3c;
	background: url(../../image/th_bg.jpg) repeat-x;
	font-size: 12px;
	border: 1px solid #EAEAEA;
}

#resultTableDiv table td {
	height: 18px;
	line-height: 20px;
	padding: 1px 0px 1px 5px;
	font-size: 12px;
	border: 1px solid #EAEAEA;
}

}
#resultTableDiv table td img {
	cursor: pointer;
	width: 20px;
	margin-right: 5px;
}

#resultTableDiv p.cutpage {
	text-align: right;
	padding: 5px 10px 0 0;
}

#resultTableDiv p.btlist {
	text-align: center;
	padding: 5px 10px 0 0;
}

#resultTableDiv p.cutpage select {
	height: 25px;
	width: 50px;
	border: #DDD 1px solid; /*just for firefox*/
	line-height: 10px;
	font-size: 12px;
	background-color: #F2F8F8;
}

.tHeader {
	color: white;
	border-top: 4px #83D4FF solid;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #3398CC;
}

.trOver {
	background-color: #B0E4FF;
}

.trBg0 {
	background-color: white;
}

.trBg1 {
	background-color: #F2F8F8;
}