@CHARSET "UTF-8";

#editDiv {
	width: 348px;
	height: 200px;
	margin: 50px 100px 0px 200px;
	background-color: #FFFFFF;
	padding: 10px 0px 10px 30px;
	border: 1px solid #DCDCDC;
}

#editDiv ul SPAN {
	display: inline;
	text-align: left;
	float: left;
	width: 70px;
	position: relative;
	height: 35px;
	line-height: 35px;
}

#editDiv ul .wholeLine SPAN {
	display: inline;
	text-align: left;
	float: left;
	width: 120px;
	position: relative;
	height: 35px;
	line-height: 35px;
}

#editDiv ul li INPUT {
	width: 246px;
	float: left;
	margin-top: 1px;
	margin-bottom: 1px;
	position: relative;
	height: 29px;
	line-height: 29px;
	border: #cccccc 1px solid;
	padding: 0px;
}

#editDiv ul li INPUT[readonly] {
	background-color: #F9F9F0;
	border: 0px;
	box-shadow: none;
}

#editDiv ul li SELECT {
	width: 250px;
	height: 29px;
	margin-top: 2px;
	margin-bottom: 2px;
	float: left;
	padding: 0px;
	position: relative;
	border: none;
}

#editDiv ul LI {
	width: 320px;
	height: 35px;
	float: left;
	margin-top: 15px;
}

#editDiv .wholeLine {
	width: 300px;
	height: 35px;
	float: left;
}

#buttonDiv {
	width: 380px;
	height: 50px;
	margin-left: 200px;
	margin-right: 100px;
}

#buttonDiv ul LI {
	width: 190px;
	height: 50px;
	float: left;
}

#buttonDiv ul LI a {
	text-align: center;
	margin-right: 40px;
	margin-left: 50px;
}