@charset "utf-8";
/* CSS Document */
html, body{ margin:0; padding:0; border:none; color:#666; font:12px/18px  Arial,Verdana,'宋体','微软雅黑'; background:url(../images/resourceBg.png) repeat-x left top #f3f4f4 ;}
img{ border:none;}
form{ margin:0; padding:0; border:none;}
div{ overflow:hidden; height:auto;}
a{ text-decoration:none; color:#666;}
a:hover{ color:#F60;}

ul, dl{ height:auto; padding:0; margin:0; border:none; list-style:none; display:block;}
li, dt, dd{ width:100%; padding:0; margin:0; border:none; float:left;  display:block;}


.display_none{ display:none;}
.display_block{ display:block;}
.clear{ clear:both; width:100%; height:1px;}
.float_r{ float:right;}
.float_l{ float:left;}


.lt_0{ position:absolute; left:0; top:0;}
.rt_0{ position:absolute; right:0; top:0;}
.lb_0{ position:absolute; left:0; bottom:0;}
.rb_0{ position:absolute; right:0; bottom:0;}


/*资源页面样式*/
/*期刊样式*/
.mainRes { width:100%; margin:0px;}
.mainResL { float:left; width:700px;}
.mainResR { float:right; width:278px;}
.centBg{ width:100%; height:269px; margin-bottom:22px;}
.centBgL{ width:15px; float:left; background:url(../images/titlBg.png) no-repeat; height:269px;}
.centBgC{ float:left; background:url(../images/titlBgC.png) repeat-x; width:670px; height:269px;}
.centBgR{ width:15px; float:left; background:url(../images/titlBgR.png) no-repeat; height:296px;}
.centTitl{ width:100%}
.centTitlR{ background:url(../images/centTitlBg.png) no-repeat; float:left; font:14px/32px "微软雅黑"; height:33px;  margin:0 0 0 20px; padding-left:15px; width:87px; }
.centTitlTab{ float:left; font:12px/34px "微软雅黑"; text-align:center;  width:80px; }
.centTitl ul{ font:12px/12px "宋体" ; color:#999; float:left; text-align:center; width:250px; margin-left: 250px; margin-top:12px;}
.centTitl li{ float:left; width:60px; border-left:1px solid #999;  padding:0;}
.centTitl a{ color:#999;}
.centTitl a:hover{ text-decoration:none; color:#666;}
.centTitl span{ float:right; font:12px/12px "Arial"; margin:12px 12px 0 0;}
.centPeriodical{ height:190px; margin:15px 0 0 0; width:670px;}
.centPeriodical li{ float:left; padding:8px; background:#f0f0f0; width:130px; margin:0 10px; height:168px;}
.centPeriodical a{ border:3px solid #FFF; display:block; width:126px; height:161px; float:left;}
.centPeriodical a:hover{ border-color:#ffe0c7;}
.centPeriodicalText { float:left; width:670px;}
.centPeriodicalText li{ float:left; width:130px; text-align:center; margin:0 10px;  padding:0 8px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -o-text-overflow:ellipsis;}

.centPeriodicalText a:hover{  text-decoration:none; color:#F60;}
/*备课笔记样式*/
.centNotes1{ float:left; margin:10px 0px; width:45%; padding:3px 20px 0 5px }
.centNotes2{ float:left; margin:10px 0px; width:45%; padding:3px 5px 0 20px;}
.centNotes1 li{ border-bottom:1px dashed #CCC; line-height:20px; margin:4px 0; background:url(../images/cent_2_list.png) no-repeat 0 10px; padding-left:10px; }
.centNotes1 a{ float:left; display:block; }
.centNotes1 a:hover{ text-decoration:none; color:#F60;  }
.centNotes1 span{ float:right; display:block;}
.centNotes2 li{ border-bottom:1px dashed #CCC; line-height:20px; margin:4px 0; background:url(../images/cent_2_list.png) no-repeat 0 10px; padding-left:10px; }
.centNotes2 a{ float:left; display:block; }
.centNotes2 a:hover{ text-decoration:none; color:#F60;  }
.centNotes2 span{ float:right; display:block;}
/*视频样式*/
.videoBg{ width:100%; height:239px; margin-bottom:22px;}
.videoBgL{ width:15px; float:left; background:url(../images/videoBgL.png) no-repeat; height:239px;}
.videoBgC{ float:left; background:url(../images/videoBgC.png) repeat-x; width:670px; height:239px;}
.videoBgR{ width:15px; float:left; background:url(../images/videoBgR.png) no-repeat; height:236px;}
.centVideo{ height:135px; margin:15px 0 0 0; width:670px;}
.centVideo li{ float:left; padding:5px; background:#f0f0f0; width:138px; margin-left:8px; margin-right:8px; height:114px;}
/*.centVideo img{ border:3px solid #FFF;}*/
.centVideo a{ border:3px solid #FFF; display:block; width:132px; height:108px; float:left;}
.centVideo a:hover{border-color:#ffe0c7;}
.centVideoText { float:left; width:670px;}
.centVideoText li{ float:left; width:130px; text-align:center; margin:0 10px; padding:0 8px; }
.centVideoText a:hover{ text-decoration:none; color:#F60;}
/*右侧页面*/
.cloudPosterList{ height:269px; margin-bottom:22px;}
.cloudPosterListL{ float:left; height:269px; width:15px; background:url(../images/cloudPosterListBgL.png) no-repeat top left;}
.cloudPosterListC{ float:left; height:269px; width:248px; background:url(../images/cloudPosterListBgC.png) repeat-x top left;}
.cloudPosterListR{ float:left; height:269px; width:15px; background:url(../images/cloudPosterListBgR.png) top left;}
.cloudPosterListC li{ height:53px; text-align:center; font:16px/53px '微软雅黑'; border-bottom:1px dashed #CCC; background:url(../images/triangleIcon.png) no-repeat 47px 23px; }
.cloudPosterListC a:hover{ text-decoration:none; color:#F60; }
.cloudComputing{ margin-bottom:22px;}
/*友情链接*/
.friendlyLinkL{ background:url(../images/titlBg.png) no-repeat; float:left; width:15px; height:269px;}
.friendlyLinkC{ background:url(../images/titlBgC.png) repeat-x top left; float:left; height:269px; width:248px; }
.friendlyLinkR{ background:url(../images/titlBgR.png) no-repeat; float:left; width:15px; height:269px;}
.friendlyLinktext1{ float:left; margin:10px 0px; width:42%; padding:3px 5px 0 5px }
.friendlyLinktext2{ float:left; margin:10px 0px; width:42%; padding:3px 5px 0 10px;}
.friendlyLinktext1 li{ border-bottom:1px dashed #CCC; line-height:20px; margin:4px 0; background:url(../images/cent_2_list.png) no-repeat 0 10px; padding-left:8px; }
.friendlyLinktext1 a{ float:left; display:block; }
.friendlyLinktext1 a:hover{ text-decoration:none; color:#F60;  }
.friendlyLinktext1 span{ float:right; display:block;}
.friendlyLinktext2 li{ border-bottom:1px dashed #CCC; line-height:20px; margin:4px 0; background:url(../images/cent_2_list.png) no-repeat 0 10px; padding-left:8px; }
.friendlyLinktext2 a{ float:left; display:block; }
.friendlyLinktext2 a:hover{ text-decoration:none; color:#F60;  }

/*资源页面-期刊样式*/
.resNavBgL{ background:url(../images/reIIIPerioBgL.png) no-repeat top left; float:left; height:178px; width:15px;}
.resNavBgC{ font-family:"微软雅黑"; font-size:14px; background:url(../images/reIIIPerioBgC.png) repeat-x top left; float:left; height:178px; width:670px; margin-bottom:20px}
.resNavBgR{ background:url(../images/reIIIPerioBgR.png) no-repeat top left; float:left; height:178px; width:15px;}
.resNavBgC table td{ width:72px; text-align:center; border-left:1px solid #999; line-height:12px; }
.resNavBgC table a:hover{ color:#F60; text-decoration:none;}
.resNavBgC h3{ font-size:14px; background:url(../images/repPerioIcon.png) no-repeat 0 8px;  line-height:25px; padding:0 0 0 15px; margin:5px 0;}

.resPeriotitl{ background:url(../images/resPerioTitlBg.png) no-repeat top left; height:33px; width:100%;}
.resPeriotitl h3{ background:url(../images/titlIcn2.png) no-repeat 3px 1px; float:left; padding:0 0 0 20px; margin:10px 0 0 35px; display:block; width:100px; height:33px; font:14px/16px "微软雅黑"; }
.resPeriotitl span{ float:right; margin:10px 15px ; }
.resPeriotitl a{color:#999; }
.resPeriotitl a:hover{ color:#666;}
.resPerioC{ background:url(../images/resPerioTitlBgC.png) repeat-y top left; float:left;  width:100%; min-height:316px; height:auto }
.resPeriobottom{ background:url(../images/resPerioTitlBgBottom.png) no-repeat top left; float:left; height:15px;width:100%;}

.resperioDite{  margin:15px 15px 0; width:670px; border-bottom:1px dashed #CCC; padding-bottom:10px; }
.centPeriodicalDite{}
.centPeriodicalDite li{ float:left; padding:8px; background:#f0f0f0; width:130px; margin-left:10px; margin-right:10px; height:168px;}
.centPeriodicalDite a{ border:3px solid #FFF; display:block; width:126px; height:161px; float:left;}
.centPeriodicalDite a:hover{ border-color:#ffe0c7;}
.centPeriodicalDiteText { float:left; width:670px; margin:5px 0 0 0;}
.centPeriodicalDiteText li{ float:left; width:130px; text-align:center; margin:0 10px; padding:0 8px; }
.centPeriodicalDiteText a:hover{ text-decoration:none; color:#F60;}


/*分页样式---paging*/
.paging{float:right; margin:60px 10px 10px 0; width:500px;;}
.paging input{width:48px; border:1px solid #CCC; height:18px;}


/*more的样式---------------
----------------------------*/
.more{float:right; width:30px; margin:12px 10px}
.more a{ font:12px/12px "Arial"; color:#999}

/*学生教师页样式--
------------------*/
.centTitle{float:left; width:189px; height:33px; font:12px "微软雅黑";}
.centTitle a{float:left; text-align:center; margin:9px 6px 8px 10px; padding:0;}
.centTitle a:hover,.centTitle a.selected{text-decoration:none; color:#666; background:url(../images/centTitlBg1.png) no-repeat; font:14px/33px "微软雅黑"; margin:0 0 0 15px; width:110px;}

.bb{padding-top:10px}


/*选中行高亮*/
#browse tr:hover{ background:#BDDEFF; color:#000;}

div#messagebar{
	width: 100%;
	height: 20px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	overflow: hidden;
}
div#message, .message{
	clear: both;
	text-align: center;
	list-style-type: square;
	overflow: hidden;
}

.errorInput{
	border: 1px solid #CC0000;
	font-size: 12px;
}

.noticeMsg{
	font-size: 12px;
	color: #CC0000;
	padding: 2px;
}

.error{
	font-size: 12px;
	color: #CC0000;
}
.success{
	font-size: 12px;
	color: #009900;
}
.default{
	font-size: 12px;
	color: #868686;;
}
.tf{
	height: 21px;
	width: 150px;
	line-height: 20px;
	font-size: 12px;
	border:1px solid #bbbbbb ;
	padding-left: 2px;
	background-image: url(../images/cn_na_bg_rp.png) ;
	background-color:#fafafa;
}