@charset "utf-8";

/* CSS Document */ /*header样式*/
.header {
	background: url(../images/cloud.png) no-repeat;
	width: 100%;
	margin-bottom: 27px;
}

.headerTop {
	background: url(../images/topCollectBg.png) no-repeat right top;
	height: 33px;
	padding-top: 9px;
	line-height: 22px;
}

.floatTopR {
	float: right;
	text-align: center;
	color: #1185d4;
	font-family: Arial, "宋体";
}

.floatTopUse {
	padding-right: 20px;
}

.headerTop a {
	color: #1185d4;
}

.headerTop a:hover {
	color: #F60;
}

.floatTopUse span {
	font-weight: bold;
	border-right: 1px solid #1185d4;
	border-left: 1px solid #1185d4;
	margin: 0 7px;
	padding: 0 7px;
}

.floatTopR img {
	display: block;
	float: left;
	margin-top: 3px;
}

.floatTopR a:hover {
	text-decoration: none;
}

.floatTopLinL {
	border-left: 1px solid #5cd1f6;
	width: 70px;
}

.floatTopLinR {
	border-right: 1px solid #0476da;
	width: 70px;
}

.floatTopLinL a {
	color: #d3e5f3;
	font-family: "宋体";
}

.floatTopLinR a {
	color: #d3e5f3;
	font-family: "宋体";
}

.headerLogo {
	height: 104px;
	width: 100%;
}

.headerLogoL {
	width: 241px;
	float: left;
}

.headerLogoR {
	width: 300px;
	float: right;
	margin-top: 25px;
}

.headerLogoR input {
	border-top: 1px solid #CCC;
	border-right: none;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	color: #CCC;
	height: 28px;
	line-height: 27px;
	margin-top: 1px;
	width: 224px;
}

.headerLogoR img {
	padding: 0;
	margin-top: 0px;
	height: 31px;
}

.headerNavManager ul,.headerNav {
	height: 46px;
}

.headerNavL a {
	color: #FFF;
	display: block;
	float: left;
	width: 136px;
	height: 35px;
	border-left: 1px solid #28b1ed;
	border-right: 1px solid #0782d4;
	margin-top: 3px;
}

.headerNavManagerL a:hover,.headerNavL a:hover {
	text-decoration: none;
	color: #F90;
}

.headerNavManager ul,.headerNav ul {
	float: left;
	width: 699px;
	margin-top: 5px;
	color: #FFF;
	font: 16px/ 40px "微软雅黑";
	font-weight: bold;
	text-align: center;
	height: 40px;
}

.headerNav li {
	background: url(../images/headerNavBg.png) repeat-x;
	float: left;
	list-style: none;
	width: 138px;
	height: 40px;
}

.headernavR {
	width: 278px;;
	float: right;
}

/*管理员页的样式*/
.headerNavManager li {
	background: url(../images/headerNavBg.png) repeat-x;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 115px;
}

.headerNavManagerL a {
	color: #FFF;
	display: block;
	float: left;
	width: 113px;
	height: 35px;
	border-left: 1px solid #28b1ed;
	border-right: 1px solid #0782d4;
	margin-top: 3px;
}

/*页脚样式*/
.footer {
	line-height: 22px;
	margin-top: 20px;
	text-align: center;
}

.bottomBg {
	width: 100%;
	background: url(../images/bottomBg.png) repeat-x top left;
	height: 8px;
	margin-top: 10px;
}