@charset "utf-8";
/* CSS Document */
.wrapper{ width:1000px; margin:0 auto; }
.main_flash{ background:url(../images/bannerbg.png) no-repeat top left; height:240px; margin:0 0 10px 0;}
/*应用模块*/
.homeApp{ height:95px; margin:15px 0 0 0; width:670px;border-bottom:1px dashed #CCC;}
.homeApp li{ float:left; width:83px; height:80px; overflow:hidden; }
.homeApp img{margin:5px  18px;}
.homeApp a{ display:block; width:100%; text-align:center; line-height:22px; margin:0; padding:0;}
.homeApp a:hover{ text-decoration:none; color:#F60;}
/*活动公告*/
.noticeList{ height:200px; margin:15px 0 ; width:100%;}
.noticeList li{ height:105px; border-bottom:1px dashed #CCC; margin-bottom:10px;}
.noticeList img{ border:4px solid #f3f4f4; float:left; margin:5px 10px 0 0 ;}
.noticeList p{ float:left; display:block; text-align:justify; width:150px; height:70px; margin-top:5px; overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; -moz-binding: url('ellipsis.xml#ellipsis'); }
.noticeList span{ display:block; float:right; width:78px; padding:0; }
.friendlyLink { margin-bottom:20px;}
/*教育云资讯*/
.infoOne { margin-top:10px; height:80px; }
.infoOne img { border:4px solid #f3f4f4; float:left; margin-right:10px;}
.infoOne h3 { margin:0 0 8px 0 ; padding:0;}
.infoOneList { height:131px;}
.infoOneList li{ border-bottom:1px dashed #CCC; line-height:20px; margin-bottom:6px; background:url(../images/cent_2_list.png) no-repeat 0 10px; padding-left:10px; }
.infoOneList a{ float:left; display:block; white-space:nowrap; width:150px; overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; }
.infoOneList span{ float:right; display:block; margin-right:15px;}
/*资源模块*/
.homeResource {float:left; width:600px; height:33px; font:12px "微软雅黑"; }
.homeResource ul{ font:12px/25px "微软雅黑" ; color:#999; float:left; text-align:center; width:500px; margin-left: 0px; margin-top:5px;}
.homeResource li{ float:left; width:110px; background:url(../images/resBorder.png) no-repeat top right; padding:0;}

.homeResource a{ float:left; width:110px; background:url(../images/resBorder.png) no-repeat top right; padding:0; margin:8px 0; text-align:center;}
.homeResource a:hover,.homeResource a.selected { text-decoration:none; color:#666; background:url(../images/centTitlBg1.png) no-repeat; float:left; font:14px/33px "微软雅黑";  margin:0 0 0 15px;  width:110px;}


.homeResource span{ float:right; font:12px/12px "Arial"; margin:12px 12px 0 0;}

.main_flash .imgshow{ display:block;}