@charset "utf-8";
/* CSS Document */

/*资讯页面二级页*/
.infoIIup{ margin-bottom:20px }
.eduCentNotes1{ height:310px;  margin:6px 15px 0 15px; width:666px; overflow:hidden; }
.eduCentNotes1 li{ background:url(../images/cent_2_list.png) no-repeat 5px; border-bottom:1px dashed #CCC; line-height:30px; padding-left:15px; }
.eduCentNotes1 a{ float:left; }
.eduCentNotes1 span{ float:right; margin-right:15px}


/*资讯页面三级*/
.eduCentNotes3{margin:10px 15px 0 15px; width:666px; }
.eduCentNotes3 a:hover{ text-decoration:none; color:#F60;  }
.eduCentNotes3 td{ line-height:24px;}
.eduCentTitl{background:url(../images/cent_2_list.png) no-repeat 5px; padding-left:13px; border-bottom:1px dashed #CCC; width:300px;overflow:hidden;}
.eduCentData{ border-bottom:1px dashed #CCC; text-align:right; }




/*搜索页面*/
.container{ width:660px;}

.left,.right,.middle{float:left; line-height:29px; margin-top:3px}
.left li,.right li,.middle li{border-bottom:1px dashed #CCC; height:29px  }
.left{width:320px}
.middle{width:270px}
.left{  overflow:hidden; padding-left:10px}
.left li{background:url(../images/cent_2_list.png) no-repeat 5px; padding-left:15px}
.right{width:90px}



/*资讯页面四级*/
/*eduMs*/
.eduMs_title{border-bottom:1px dashed #e7e7e7; color:#333; font-size:24px; margin:35px 0 0 0; line-height:40px; text-align:center; width:660px}
/*detail*/
.detail{text-align:center;}
.detail span{ line-height:50px;  margin:0 10px 0 0;}
/*article*/
.article{ min-height:430px; height:auto;}
.article p{text-indent: 2em; margin:0 40px; line-height: 28px; font-size:14px; text-align:justify }
/*uploader*/
.uploader {height:45px}
.uploader p{float:right; padding:0 48px 0 0;}

