@charset "utf-8";
/* CSS Document */
img{ border:none;}
form{ margin:0; padding:0; border:none;}
div{ overflow:hidden; height:auto;}
a{ text-decoration:none; color:#666;}
a:hover{ text-decoration:underline;}


.loadWin{ background:url(../images/loadWin_03.png) no-repeat left top; width:456px; height:258px; position:absolute; top:50%; left:50%; margin: -150px 0 0 -160px;}

.loadWinClose{ float:right;  height:18px; margin:9px 19px 0 0; width:30px;}

.username{ font-size:12px; font-family:Verdana, Geneva, sans-serif,'宋体'; line-height:40px; margin:80px 10px 0 29px}
.username img{ margin-left:37px;}
.username input{width:200px; height:23px; color:#a0a3a4; line-height:23px;}
