@charset "utf-8";
/* CSS Document */

.manageCentTitlR{background:url(../images/clBgRpTi.png) repeat-x top left;font:14px/32px "微软雅黑"; float:left;  height:33px; margin-left:22px; width:134px; padding-left:15px;}

.chartPic {clear:both; padding:0 30px}
.chartPic li{width:300px;}
.chartPic img{margin:15px 0 4px 0; }
.chart02{float:right;}

.font li{color:#a1a1a1; font-family:Arial, Helvetica, sans-serif,'宋体'; float:left; font-size:12px; margin:0 40px 7px 80px; width:210px}


/*cloudDis*/
.cloudDis{background:url(../images/cloudDis.png) no-repeat; height:41px; width:680px; margin-top:15px; margin-left:8px;}
.cloudDis li { font-weight:bold; height:41px; line-height:41px; text-align:center; width:218px; }
.cloudDis a{ color:#108cd6; font-family:Arial, Helvetica, sans-serif,'宋体'}
.cloudDis span{color:#b7b7b7;font-family:Arial, Helvetica, sans-serif,'宋体'}

/*---------icon
---------------------------------*/
.icon{border-right:#e7e7e7 1px solid; float:left; font-family:Arial, Helvetica, sans-serif,'宋体'; width:220px; margin:10px 10px 0 0; padding:0 12px 0 3px}
.icon img{ margin:7px 0 10px 5px; }
.icon a{ color:#797979; font-family:Arial, Helvetica, sans-serif,'宋体'; line-height:30px; margin:0 20px; }

.bgLine{background-color:#f3f3f3; }

/*cloudEnter*/
.cloudMnL{background:url(../images/content01_left.png) no-repeat; float:left; height:269px; width:5px}
.CloudManagC{ border-width:1px 0 1px 0; border-color:#D6D6D6; border-style:solid; background-color:#FFF; float:left; height:269px; width:265px;}
.cloudMnR{background:url(../images/content01_right.png) no-repeat; float:left; height:269px; width:5px}

.cloudEnter img{border:5px solid #F3F4F4; margin:6px 10px 20px 5px;}
.cloudButton li{background:url(../images/cloud_button.png) no-repeat; float:left; height:32px; line-height:32px; margin:0 10px 13px 10px; width:108px; text-align:center;}
.cloudButton a{color:#fff; font-weight:bold; font-family:"微软雅黑"; font-size:14px}

.appHot{clear:both;}
.appHot li{margin:0 10px 0 0;}
.appHot img{margin:8px 20px 10px 5px;}
.appHot a{color:#0493cf; font-family:Arial, Helvetica, sans-serif,'宋体'; width:160px; margin:10px 0 0 5px }
.appHot span{font-family:Arial, Helvetica, sans-serif,'宋体'; margin:0 0 0 5px;}

.icon02{clear:both;   margin:0; width:262px; overflow:hidden; }
.icon02 img{clear:both; height:15px; line-height:15px; margin:7px 10px 10px 18px; width:15px;}
.icon02 a{color:#797979; font-family:Arial, Helvetica, sans-serif,'宋体'; height:35px;  text-align:center; }
.icon02 a:hover{ color:#F60;}


/*---------centTitl
---------------------------------*/
.manCentTitl{float:left; background:url(../images/ManContenTitle.png) no-repeat; width:700px; height:33px; padding:0}
.appApart{ margin:0 0 0 55px; width:650px; font:14px/32px "微软雅黑";}
.appApart a{margin:0 0 0 510px; font:12px/12px "Arial"; color:#999}
.magResPerioC{background:url(../images/resPerioTitlBgC.png) repeat-y top left; float:left; width:100%; min-height:520px; height:auto}
.messResPerioC{background:url(../images/resPerioTitlBgC.png) repeat-y top left; float:left; width:100%; min-height:470px; height:auto}






