magResPerioC@charset "utf-8";
/* CSS Document */

.myWorkAppTitle{float:left; font:14px/32px '微软雅黑'; margin:2px 30px;}

.buttonSrc{clear:both; height:49px; line-height:60px; margin:15px 5px 5px 5px; width:660px}
.buttonSrc a{ float:left; display:block; width:100px; line-height:30px; background:#666; color:#FFF; text-align:center; margin:10px 15px;}
.buttonSrc a:hover{ background:#333; color:#FFF;}
.buttonSrc a:focus{background:#0092de}

/*right01*/
.personalData{height:276px; margin-bottom:20px; width:276px}
.personalDataL{background:url(../images/peopleLeft.png) no-repeat top left; float:left; width:5px; height:260px;}
.personalDataC{background-color:#fff; border-width:1px 0 1px 0; border-color:#D6D6D6; border-style:solid;float:left; height:258px; width:266px;}
.personalDataR{background:url(../images/peopleRight.png) no-repeat top left; float:left;  height:260px; width:5px;}

.personalDetail{height:210px; padding:24px 18px; width:100%;}
.peopleDetail01 li,.peopleDetail a{color:#006599; font-family:Arial, Helvetica, sans-serif,'宋体';}

/*photo*/
.photo li{float:left; width:114px; margin:0 0 20px 0;}
.photo a{color:#006599}


.peopleDetail01{clear:left;  }
.peopleDetail01 li{float:left; width:55%; margin-bottom:15px }

/*mySrc*/
.mySrc01{ padding-bottom:15px;}
.mySrcLine{ border-bottom:1px dashed #CCC; margin:15px 15px 10px 15px;}

/*myworkspace-----
------------------------------*/
.myworkspace{background:url(../images/myworkspaceTitle.png) no-repeat; width:700px; height:33px}
.myworkspaceTitle a{float:left; text-align:center; margin:9px 6px 8px 30px; padding:0; height:33px}
.myworkspaceTitle a:hover,.myworkspaceTitle a.selected{background:url(../images/centTitlBg1.png) no-repeat; color:#666; height:33px ; font:14px/32px "微软雅黑"; margin:0 0 0 30px; width:110px; text-decoration:none}


/*我的工作间-消息-发件-------
------------------------------------------------*/
/*messC*/
.messC{margin:0 24px;}

/*messSendTI*/
.messSendTI{border-left:1px solid #ececec; float:left; margin:35px 0 18px; width:340px}
.messSendTI a{border-top:1px solid #ececec; border-right:1px solid #ececec; border-bottom:1px solid #a7a7a7; clear:both; padding:8px 34px; line-height:39px; }
.messSendTI a:hover,.messSendTI a.selected{border-top:1px solid #a7a7a7; border-right:1px solid #a7a7a7; border-bottom:none; border-left:1px solid #a7a7a7}


/*messageSendT04*/
.messageSendT04{ border-bottom:1px solid #a7a7a7; height:36px; height:34px; width:310px;  margin:37px 0 0 0; }

/*messChoice*/
.messChoice{background-color:#fafafa; border-bottom:1px solid #ededed; margin-bottom:15px}
.messChoice ul li{min-width:80px; width:auto; text-align:center; line-height:35px; padding-top:5px}

/*messDel*/
.messDel a{color:#336699}
.messDel img{margin:3px 10px 0; }

/*messTitle*/
.messTitle td{line-height:25px; padding-top:8px; padding-left:16px}

/*messDetail*/
.messDetail td{padding:0 0 0 15px; line-height:30px; }
.messDetail tr:hover{ font-weight:bold;}
.messTheme{width:300px; overflow:hidden;}


/*----我的工作间-消息-写信
-------------------------------------------------*/

/*messWriteDetail*/
.messWriteDetail{maring:20px 0}
.messWriteDetail tr td{padding:10px 0;}
.messWriteDetail span{color:red}
.messWriteDetail select{color:#999; width:380px; margin-top:5px }
.messWriteDetail input{width:374px;}
.messWriteDetail textarea{height:120px}
/*messButtom*/
.messButtom{margin:29px 0}
.messButtom ul li{ background-color:#ebebeb; border:1px solid #999; float:left; width:50px; margin-right:10px; }
.messButtom ul li a{display:block; line-height:20px; width:50px; background-color:#ebebeb; padding-top:4px; text-align:center; font-weight:bold}
.messButtom ul li a:hover{background-color:#0e69be; color:#fff}