@charset "utf-8";
/* CSS Document */

/*内页三级-教育云备课笔记resNavGrade*/

.resNavGrade table tr{padding-bottom:10px}
.resNavGrade table td{ width:90px; text-align:center; border-left:1px solid #999; line-height:12px;}


/*page03Container*/
.page03Container{ width:660px;}

.page03left,.page03right,.page03middle{float:left; line-height:29px; margin-top:3px;  }
.page03left li,.page03right li,.page03middle li{border-bottom:1px dashed #CCC; clear:both; height:29px;}

.page03left{clear:both; width:460px; margin-left:15px;}
.page03left li{background:url(../images/cent_2_list.png) no-repeat 5px; overflow:hidden; padding-left:15px }
.page03middle{width:100px}
.page03right{width:100px}


/*page03EduCloudMagzine*/
.page03MySrc01{padding:15px 15px 10px}





