@charset "utf-8";
/* CSS Document */

/*内页四级-下载*/
.contain{border-bottom:1px dashed #d6d6d6; width:666px; margin:10px; padding-bottom:20px}
.loadTitle{background:url(../images/repPerioIcon.png) no-repeat 0 4px ; margin:20px 15px 15px 19px; padding-left:20px;font-size:14px;}
.loadTitle a{ font-size:14px; padding-left:24px}

.bookPic{float:left; margin:0 0 0 25px; width:150px}
.bookPic img{border:7px solid #f0f0f0; padding:4px}

.loadDetail{ float:left; width:200px; padding:10px}
.loadDetail li{background:url(../images/loadIcon_03.png) no-repeat 10px; margin:10px 10px 20px 0; padding-left:16px}

.loadDetail a{ color:#0058a3; font-size:14px/40px;}

/*base*/
.baseTitle{background:url(../images/repPerioIcon.png) no-repeat 0 4px ; margin:10px 15px 10px 19px;padding-left:20px; font-size:14px;}
.baseTitle a{font-size:14px; margin:0 0 0 19px}
.baseDetail{margin:10px 15px 10px 40px;}
.baseList{margin:10px 15px 20px 70px;}
.baseList li{line-height:27px}