@CHARSET "UTF-8";

#queryDiv {
	width: 800px;
	height: 70px;
	padding-left: 50px;
}

#queryDiv ul SPAN {
	display: inline;
	text-align: center;
	float: left;
	width: 70px;
	position: relative;
	padding: 0px;
	line-height: 30px;
}

#queryDiv ul li .btn1 {
	width: 100px;
	height: 26px;
	margin: 0px;
	margin-top: 5px;
}

#queryDiv ul li INPUT {
	width: 120px;
	float: left;
	padding: 0px;
	position: relative;
	margin-top: 3px;
	height: 21px;
}

#queryDiv ul li SELECT {
	width: 120px;
	height: 25px;
	float: left;
	padding: 0px;
	position: relative;
	float: left;
	margin-top: 4px;
}

#queryDiv ul LI {
	width: 200px;
	height: 31px;
	float: left;
}

#buttonDiv {
	float: right;
	height: 30px;
}

#buttonDiv ul {
	margin: 0px;
	padding: 0px;
}

#buttonDiv ul li {
	float: left;
	width: 110px;
	text-align: center;
	margin-left: 10px;
}

#resultTableDiv {
	margin-top: 50px;
}

#resultTableDiv table {
	width: 800px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin: 10px auto;
	text-align: center;
	border-collapse: collapse;
}

#resultTableDiv table th {
	height: 29px;
	line-height: 29px;
	color: #3c3c3c;
	background: url(../../image/th_bg.jpg) repeat-x;
	font-size: 12px;
	border: 1px solid #EAEAEA;
}

#resultTableDiv table td {
	height: 18px;
	line-height: 20px;
	padding: 1px 0px 1px 0px;
	font-size: 12px;
	border: 1px solid #EAEAEA;
}

}
.tableImg {
	cursor: pointer;
	width: 20px;
	margin-right: 5px;
}

#resultTableDiv p.cutpage {
	text-align: right;
	padding: 5px 10px 0 0;
}

#resultTableDiv p.btlist {
	text-align: center;
	padding: 5px 10px 0 0;
}

#resultTableDiv p.cutpage select {
	height: 25px;
	width: 50px;
	border: #DDD 1px solid; /*just for firefox*/
	line-height: 10px;
	font-size: 12px;
	background-color: #F2F8F8;
}

.trBg0 {
	background-color: white;
}

.trBg1 {
	background-color: #F2F8F8;
}

#statusChangeDiv {
	z-index: 999;
	display: block;
	position: absolute;
	top: 100px;
	left: 40%;
	background-color: white;
	border: 1px black solid;
	width: 330px;
	height: 140px;
	padding: 20px;
	display: none;
}

#statusChangeDiv SPAN {
	margin-left: 20px;
}

#statusChangeDiv UL LI {
	width: 160px;
	height: 30px;
	float: left;
}