@CHARSET "UTF-8";

#editDiv {
	width: 420px;
	height: auto;
	margin-left: 130px;
	margin-right: 150px;
}

#editDiv ul {
	padding-left: 20px;
}

#editDiv ul SPAN {
	display: inline;
	text-align: center;
	float: left;
	width: 70px;
	position: relative;
	height: 35px;
	line-height: 35px;
}

#editDiv ul li INPUT {
	width: 296px;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;
	height: 26px;
	line-height: 26px;
	border: #cccccc 1px solid;
	padding: 0px;
}

#editDiv ul li INPUT[readonly] {
	background-color: #F9F9F0;
	border: 0px;
	box-shadow: none;
}

#editDiv ul li SELECT {
	width: 300px;
	height: 31px;
	line-height: 31px;
	margin-bottom: 2px;
	float: left;
	padding-top: 2px;
	position: relative;
	margin-top: 2px;
}

#editDiv ul LI {
	width: 420px;
	height: 35px;
	float: left;
	margin-bottom: 7px;
}

#editDiv .wholeLine {
	width: 420px;
	height: 35px;
	float: left;
}

#buttonDiv {
	float: left;
	background-color: #f3f4f4;
	width: 400px;
	height: 50px;
	padding-left: 130px;
	margin-left: 0px;
	margin-right: 150px;
}

#buttonDiv ul LI {
	width: 200px;
	height: 50px;
	float: left;
}

#buttonDiv ul LI INPUT {
	text-align: center;
	margin-right: 40px;
	margin-left: 40px;
}