@CHARSET "UTF-8";

#editDiv {
	width: 800px;
	height: 50px;
	margin-left: 50px;
	margin-right: 150px;
}

#editDiv ul SPAN {
	display: inline;
	text-align: center;
	float: left;
	width: 70px;
	position: relative;
	height: 30px;
	line-height: 30px;
}

#editDiv ul LI {
	width: 230px;
	height: 30px;
	float: left;
}

#editDiv ul LI input {
	margin-left: 5px;
	line-height: 30px;
	height: 30px;
	padding: 0px;
}