/* welcome page style*/
div#c_middle div#container {
	float: left;
	width: 400px;
	height: 300px;
	text-align: left;
	display: block;
	overflow: hidden;
	margin: 20px 0px 0px 20px;
	border: 1px solid #DCDCDC;
}

div#c_middle div#icons {
	float: left;
	margin-left: 50px;
	width: 220px;
	height: 240px;
	text-align: center;
	display: block;
	background-color: #FFFFFF;
	border: 1px solid #DCDCDC;
}

div#c_middle div ul {
	float: left;
	text-align: center;
	display: block;
	overflow: hidden;
	width: inherit;
	padding: 0px;
	height: inherit;
}

div#c_middle div ul li {
	float: left;
	width: 110px;
}

div#c_middle div img {
	cursor: pointer;
	width: 70px;
	padding: 0px 20px 0px 20px;
}