@CHARSET "UTF-8";

.btnUl LI {
	float: left;
	height: 32px;
	line-height: 32px;
	margin: 0 10px 13px 10px;
	width: 108px;
	text-align: center;
}

/*按钮样式1*/
.btn {
	background: url(../image/cloud_button.png) no-repeat;
	color: #fff;
	font-weight: bold;
	font-family: "微软雅黑";
	font-size: 14px;
	width: 108px;
	height: 32px;
	border: none;
	cursor: pointer;
}

/*按钮样式2*/
.btn1 {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #E6E6E6);
	background-repeat: repeat-x;
	border-color: #CCCCCC #CCCCCC #B3B3B3;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 0;
	padding: 4px 10px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
}

.btn1:hover {
	background-color: #e6e6e6;
	background-position: 0 -15px;
	color: #333333;
	text-decoration: none;
}

.btn1.active,.btn:active {
	background-color: #e6e6e6;
	background-image: none;
	outline: 0 none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
}

/*去掉li前面的圆点*/
UL {
	list-style: none;
	padding: 0px;
	overflow: hidden;
	margin: 0px;
}

UL LI {
	list-style: none;
	padding: 0px;
}

/*下拉框*/
select {
	border-bottom: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
	border-radius: 3px 3px 3px 3px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	display: inline-block;
	border-top: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
	padding-top: 4px;
	width: 208px;
	height: 28px;
}

/*textarea*/
textarea {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	color: #555555;
	display: block;
	font-size: 13px;
	font-family: '宋体';
	width: 200px;
	overflow: hidden;
	padding: 0px;
}

/*body*/
body {
	overflow: visible;
	font-size: 14px;
	color: #666666;
	height: auto;
	background-color: #f3f4f4;
}

/*各种标签的处理*/
.btn:hover {
	color: #FF6347;
	text-decoration: none;
}

.btn.active,.btn:active {
	background-color: #e6e6e6;
	background-image: none;
	outline: 0 none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
}

button.btn           ::-moz-focus-inner,input[type="submit"].btn         
	 ::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button           ::-moz-focus-inner,input           ::-moz-focus-inner {
	padding: 0;
	border: 0;
}

select,input:focus {
	outline: 0 none;
}

input[disabled],select[disabled],textarea[disabled] {
	background-color: #eeeeee;
	border-color: #ddd;
}

input[readonly],select[readonly],textarea[readonly] {
	background-color: #F9F9F0;
	border: 1px solid #F5F5F5;
	box-shadow: none;
}

input[readonly]:focus,select[readonly]:focus,textarea[readonly]:focus {
	background-color: #F9F9F0;
	border: 1px solid #F5F5F5;
	box-shadow: none;
}

/*按钮样式3*/
.buttonImg {
	background-color: #f3f4f4;
	height: 49px;
	line-height: 60px;
	border-bottom: 1px solid #ededed;
	margin: 0 17px;
	padding-left: 300px;
	width: 666px
}

.buttonImg a {
	float: left;
	display: block;
	width: 100px;
	line-height: 30px;
	background: #666;
	color: #FFF;
	text-align: center;
	margin: 10px 30px;
	cursor: pointer;
	-moz-user-select: -moz-none;
}

.buttonImg a:hover {
	background: #333;
}

.btn2 {
	float: left;
	display: block;
	width: 100px;
	line-height: 30px;
	background: #666;
	color: #FFF;
	text-align: center;
	margin: 0px 30px;
	cursor: pointer;
	-moz-user-select: -moz-none;
}

.btn2:HOVER {
	background: #333;
}