@charset "utf-8";

select,input:focus {
	outline: 0 none;
}

.sanjiao {
	background: url(../../images/sanjiao.png) no-repeat;
	height: 20px;
	float: left;
	width: 20px;
	margin-left: 10px
}

.red_light {
	background: url(../../images/red.png) no-repeat;
	height: 20px;
	width: 20px;
	display: block;
}

.yellow_light {
	background: url(../../images/yellow.png) no-repeat;
	height: 20px;
	width: 20px;
	display: block;
}

.lingxing {
	background: url(../../images/lingxing.png) no-repeat;
	height: 20px;
	width: 20px;
	display: block;
}

.tanhao {
	background: url(../../images/tanhao.png) no-repeat;
	height: 20px;
	width: 20px;
	display: block;
}

#searchField {
	border: 1px solid #CCCCCC;
	border-radius: 4px 4px 4px 4px;
	color: #555555;
	display: inline-block;
	font-size: 13px;
	height: 20px;
	line-height: 18px;
	margin-bottom: 9px;
	padding: 3px;
	width: 150pxx;
	position: relative;
	z-index: 2;
}

#header {
	background: url(../../images/bg.png) repeat-x;
	margin: 0;
	padding: 0;
	height: 90px;
	min-width: 1250px; !
	important margin-left: auto;
	margin-right: auto;
}

#ris {
	color: #000;
	font: "宋体";
	font-size: 15px;
	padding-left: 20px;
	padding-top: 7px;
	float: left;
}

#user {
	background: url("../../images/person_name.png") no-repeat scroll 0 0
		transparent;
	float: right;
	height: 20px;
	padding-top: 20px;
	padding-right: 20px;
}

#user-name {
	color: #000000;
	float: left;
	font-size: 12px;
	margin-left: 55px;
	margin-top: -10px;
}

.mainMenu {
	background: url(../../images/main_menu_bg.png) no-repeat;
	float: left;
	width: 88px;
	height: 58px;
}

.mainMenu1 {
	background: url(../../images/main_menu_bg.png) no-repeat;
	float: left;
	width: 88px;
	height: 58px;
}

.mainMenuSelect {
	background: url(../../images/main_menu_bg_select.png) no-repeat;
	float: left;
	width: 88px;
	height: 59px;
}

.mainMenu1Select {
	background: url(../../images/main_menu_bg_one_select.png) no-repeat;
	float: left;
	width: 88px;
	height: 59px;
}

ul,li {
	list-style: none;
	padding: 0;
}

.menuFont {
	font: "微软雅黑";
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	float: left;
	margin-left: 5px;
	margin-top: 25px;
}

#menuPosition {
	float: left;
}

#search {
	background: url(../../images/search_btn2.png) no-repeat;
	display: block;
	height: 40px;
	float: right;
	width: 40px;
	margin-top: -10px;
}

#content {
	width: 1196px;
	height: 100%;
	margin-left: 1%;
}

a {
	text-decoration: none;
}

#opBar {
	float: right;
	margin-top: -40px;
	margin-left: 730px;
	padding-right: 20px
}

textarea:focus,.field:focus {
	border-color: rgba(0, 200, 200, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75) inset, 0 0 8px
		rgba(82, 200, 200, 0.6);
	outline: 0 none;
}

.tips_words {
	margin-left: 30px;
	font-size: 13px;
}

.horn {
	background: url(../../images/tips.png) no-repeat;
	margin-left: 40px;
	color: #000000;
	height: 20px;
	padding-top: 3px;
}

#report_work {
	background: url(../../images/gongshi.png) no-repeat;
	height: 65px;
	width: 65px;
	display: block;
	float: left;
	margin-left: 15px;
}

#week_report {
	background: url(../../images/zhoubao.png) no-repeat;
	height: 65px;
	width: 65px;
	display: block;
	float: left;
}

#month_report {
	background: url(../../images/yuebao.png) no-repeat;
	height: 65px;
	width: 65px;
	display: block;
	float: left;
}

#to_do {
	background: url(../../images/daiban.png) no-repeat;
	height: 65px;
	width: 65px;
	display: block;
	float: left;
}

.speed_road {
	margin-top: 65px;
	float: left;
	margin-left: 20px;
	font-size: 13px;
	color: #666666
}

.field {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	color: #555555;
	display: inline-block;
	font-size: 13px;
	height: 18px;
	line-height: 18px;
	padding: 3px;
	width: 200px;
}

select {
	border-bottom: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
	border-radius: 3px 3px 3px 3px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	display: inline-block;
	border-top: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
	padding-top: 4px;
	width: 208px;
	height: 28px;
}

.select small {
	width: 100px;
}

textarea {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	color: #555555;
	display: inline-block;
	font-size: 13px;
	font-family: '宋体';
	padding: 3px;
	width: 200px;
	overflow: hidden;
}

/**
蓝色

input:focus {
	border-color:rgba(82,168,236,0.8);
	box-shadow: 0 1px 1px rgba(0,0,0,0.75) inset,0 0 8px rgba(82,168,236,0.6);
}
**/ /**
绿色
边框颜色 深于阴影颜色

input:focus{
	border-color:rgba(0,200,200,0.8);
	box-shadow: 0 1px 1px rgba(0,0,0,0.75) inset,0 0 8px rgba(82,200,200,0.6);
}
**/
#parent_pro_name {
	color: #1b557c;
	font-weight: bold;
	background: url(../../images/_-_.png) no-repeat;
	padding-left: 15px;
}

.title {
	border: #b4c8dc 1px solid;
	line-height: 7px;
}

.listWhite {
	border: #999999 1px solid;
	line-height: 20px;
	word-break: break-all;
}

.listGrey {
	border-right: #b4c8dc 1px solid;
	border-left: #b4c8dc 1px solid;
	line-height: 15px;
}

.mytable {
	border-collapse: collapse;
	font-size: 13px;
	white-space: nowrap;
	word-break: keep-all;
}

.mytableInsertPro {
	border-collapse: collapse;
	font-size: 13px;
}

.myTable {
	border-collapse: collapse;
	font-size: 13px;
	/**white-space:nowrap;**/
	word-break: keep-all;
}

.mytable_z {
	border-collapse: collapse;
	font-size: 13px;
}

.tasktable {
	border-collapse: collapse;
	border-bottom: #b4c8dc 1px solid;
}

.white {
	color: #666666
}

#newPRO {
	background: url(../../images/new_create.png) no-repeat;
	display: block;
	height: 24px;
	float: left;
	width: 65px;
	margin-bottom: 31px;
}

#pro_edit {
	background: url(../../images/edit.png) no-repeat;
	display: block;
	height: 18px;
	width: 18px;
	float: left;
	margin-left: 10px;
}

#pro_del {
	background: url(../../images/delete.png) no-repeat;
	display: block;
	height: 18px;
	width: 18px;
	float: left;
	margin-left: 20px;
}

#pro_my {
	background: url(../../images/money.png) no-repeat;
	display: block;
	height: 18px;
	width: 18px;
	float: left;
	margin-left: 20px;
}

.btn {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #E6E6E6);
	background-repeat: repeat-x;
	border-color: #CCCCCC #CCCCCC #B3B3B3;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 0;
	padding: 4px 10px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
}

.btn:hover {
	background-color: #e6e6e6;
	background-position: 0 -15px;
	color: #333333;
	text-decoration: none;
}

.btn.active,.btn:active {
	background-color: #e6e6e6;
	background-image: none;
	outline: 0 none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
}

button.btn ::-moz-focus-inner,input[type="submit"].btn ::-moz-focus-inner
	{
	padding: 0;
	border: 0;
}

button ::-moz-focus-inner,input ::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input[disabled],select[disabled],textarea[disabled] {
	background-color: #eeeeee;
	border-color: #ddd;
}

input[readonly],select[readonly],textarea[readonly] {
	background-color: #F9F9F0;
	border: 1px solid #F5F5F5;
	box-shadow: none;
}

input[readonly]:focus,select[readonly]:focus,textarea[readonly]:focus {
	background-color: #F9F9F0;
	border: 1px solid #F5F5F5;
	box-shadow: none;
}

.btn.disabled,.btn[disabled] {
	cursor: default;
	background-image: none;
	background-color: #e6e6e6;
	opacity: 0.65;
	filter: alpha(opacity = 65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

a hover,a active {
	outline: 0 none;
}

#table_top {
	width: 100%;
	height: 31px;
	background: url(../../images/table_top.png) no-repeat;
	font-size: 14px;
	margin-left: 12px;
}

.table_c {
	background: url(../../images/table_c1.png) repeat-x;
	font-weight: bold;
}

.table_c2 {
	background: url(../../images/table_c2.png) repeat-x;
}

.table_top {
	background: url(../../images/left_bg_1.png) repeat-y;
	height: 20px;
	width: 98%;
}

.table_bottom {
	background: url(../../images/left_bg_3.png) repeat-y;
	height: 20px;
	width: 950px
}

#contact_h {
	background: url(../../images/left_bg_2.png) repeat-y;
	height: 100px;
	width: 98%;
}

#task_h {
	background: url(../../images/left_bg_2.png) repeat-y;
	height: 100px;
	width: 100%;
}

#pro_h2 {
	background: url(../../images/left_bg_2.png) repeat-y;
	height: 120px;
	width: 98%;
}

#pro_h {
	background: url(../../images/left_bg_2.png) repeat-y;
	height: 120px;
	width: 98%;
}

#left_menu {
	float: left;
	width: 20%;
}

#right_menu {
	float: right;
	width: 80%;
}

body {
	overflow: auto;
	font-size: 14px;
	color: #666666;
}

.step {
	display: block;
	float: left;
	height: 40px;
	margin-left: 27.5px;
	margin-top: 21px;
	width: 239px;
}

.sanjiao_r {
	background: url(../../images/sanjiao_right.png) no-repeat;
	height: 20px;
	width: 20px;
	margin-left: 70px;
	margin-top: 20px;
	float: left;
	clear: left;
}

.pro_bg1 {
	background: url(../../images/pro_bg1.png) no-repeat center;
	height: 23px;
	width: 100%;
	display: block;
}

.pro_bg2 {
	background: url(../../images/pro_bg2.png) center repeat-y;
	height: 230px;
	width: 100%;
	display: block;
}

.pro_bg2_sk {
	background: url(../../images/pro_bg2.png) center repeat-y;
	width: 100%;
	display: block;
	padding-bottom: 5px;
}

.pro_bg3 {
	background: url(../../images/pro_bg3.png) center no-repeat;
	height: 23px;
	width: 100%;
	display: block;
}

.sec_menu {
	height: 35px;
	background: url(../../images/sec_menu.png) no-repeat;
	margin-top: 0px;
	display: block;
}

.btn_l {
	background: url(../../images/btn_l.jpg) no-repeat;
	width: 78px;
	height: 24px;
	float: inherit;
}

.stask {
	float: right;
	margin-right: 100px;
	background: url(../../images/btn_l.jpg) no-repeat;
	height: 24px;
	width: 78px;
	padding-top: 5px;
	margin-top: -5px;
}

.childMenu {
	margin-top: 0px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 1436px;
}

.bottom {
	background: url(../../images/ymdb.png) repeat-x;
	height: 50px;
	min-width: 1250px; ! important;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.logo0 {
	background: url(../../images/logo.png) no-repeat;
	width: 167px;
	height: 58px;
	display: block;
}

.logo1 {
	background: url(../../images/logo-1.png) no-repeat;
	width: 167px;
	height: 58px;
	display: block;
}

.logo2 {
	background: url(../../images/logo-2.png) no-repeat;
	width: 167px;
	height: 58px;
	display: block;
}

.logo3 {
	background: url(../../images/logo-3.png) no-repeat;
	width: 167px;
	height: 58px;
	display: block;
}

.logo4 {
	background: url(../../images/logo-4.png) no-repeat;
	width: 167px;
	height: 58px;
	display: block;
}

.logo5 {
	background: url("../../images/Cmri.png") no-repeat scroll 0 0
		transparent;
	display: block;
	height: 58px;
	margin-top: -1px;
	width: 140px;
}

.change_space {
	background: url("../../images/change_space.png") no-repeat scroll 0 0
		transparent;
	display: block;
	float: right;
	height: 26px;
	margin-right: 7px;
	margin-top: 23px;
	width: 26px;
}

.spaceSelected {
	width: 217px;
	height: 32px;
	background: url(../../images/change_space_select.png) no-repeat;
}

.table {
	width: 100%;
	margin-bottom: 0px;
	border-spacing: 0;
	border-collapse: collapse;
}

.table-bordered {
	border: 1px solid #dddddd;
	border-left: 0;
	border-collapse: collapse; *
	border-collapse: collapsed;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.table td {
	padding: 5px;
	text-align: left;
	vertical-align: ;
	border-top: 1px solid #dddddd;
	white-space: nowrap;
	width: 150px;
}

.table th {
	padding: 5px;
	vertical-align: ;
	border-top: 1px solid #dddddd;
	white-space: nowrap;

}

.table-bordered td {
	border-left: 1px solid #dddddd;
}

.table-bordered th {
	border-left: 1px solid #dddddd;
}

.table TBODY TR:hover {
	background-color: #f5f5f5;
}

.tab {
	float: left;
	padding-right: 3px;
}

.a_tab {
	border-width: 0 0 0;
	background-color: #f5f5f5;
	border-color: #E6E6E6;
	border-style: solid;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-user-select: none;
	display: block;
	height: 34px;
	line-height: 34px;
	padding: 0 14px;
}

.ul_tab {
	border-width: 0 0 0px;
	overflow: hidden;
	padding-top: 10px;
	border-color: #DDDDDD;
	border-style: solid;
	margin: 0;
	padding: 0;
	color: #333333;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif !important;
	font-size: 13px;
	line-height: 18px;
}

.a_tab_active {
	border-width: 1px 1px 0 1px;
	background-color: #FFFFFF;
	border-color: #bababa;
	border-style: solid;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-user-select: none;
	display: block;
	height: 35px;
	line-height: 35px;
	padding: 0 14px;
}

.a_tab:hover {
	background-color: #e6e6e6;
	background-position: 0 -15px;
	color: #666666;
	text-decoration: none;
	border-bottom: 0;
}

.div_close {
	background: url(../../images/close.png) no-repeat;
	width: 18px;
	height: 18px;
	display: block;
}

.span7 {
	width: 218px;
}

.span6 {
	width: 187px;
}

.span5 {
	width: 156px;
}

.span4 {
	width: 125px;
}

.span3 {
	width: 94px;
}

.span2 {
	width: 63px;
}

.span1 {
	width: 32px;
}

.ris_alert {
	font-size: 14px;
	display: none;
	position: absolute;
	top: 170.5px;
	left: 567px;
	height: 160px;
	border: 1px solid #D1D3D4;
	background-color: white;
	z-index: 9999;
	overflow: hidden;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
	max-width: 960px;
	min-width: 350px;
}

.ris_overlay {
	background: repeat-x scroll 50% 50% #AAAAAA;
	filter: alpha(opacity = 30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
	left: 0;
	top: 0;
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
}

.btn-c {
	background-color: transparent;
	background-image: url("../../images/btns.png");
	background-position: 0 -140px;
	background-repeat: no-repeat;
	border: medium none;
	color: #FFFFFF;
	font-size: 14px;
	height: 30px;
	outline: 0 none;
	padding: 0;
	width: 100px;
}

.btn-c:hover {
	background-position: 0 -170px;
	cursor: pointer;
	color: #008b9b;
}

.btn-c:active {
	background-position: 0 -200px;
	color: #ffffff;
}

.secMenufont {
	color: #666;
	text-decoration: none;
	margin-top: 13px;
	float: left;
	margin-left: 10px;
}

.secMenufont:hover {
	color: #ffa700;
	cursor: pointer
}

.btn_stacker {
	height: 18px;
	padding-left: 25px;
	width: 20px;
	line-height: 20px;
	color: #fff;
	border: none;
	cursor: hand;
	background: transparent url(../../images/stacker.png) center no-repeat;
}

.btn_strecher {
	height: 18px;
	padding-left: 25px;
	width: 20px;
	line-height: 20px;
	color: #fff;
	border: none;
	cursor: hand;
	background: transparent url(../../images/stretch.png) center no-repeat;
}

.sanjiao_u {
	background: url(../../images/sanjiao_up.png) no-repeat;
	height: 20px;
	width: 20px;
	margin-left: 70px;
	margin-top: 20px;
	float: left;
	clear: left;
}

.sanjiao_d {
	background: url(../../images/sanjiao_down.png) no-repeat;
	height: 20px;
	width: 20px;
	margin-left: 70px;
	margin-top: 20px;
	float: left;
	clear: left;
}

.field,
textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

.field:focus,
textarea:focus {
  border-color: rgba(0, 200, 200, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 200, 200, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 200, 200, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 200, 200, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}
.load{
	background: transparent url(../../images/loading.gif) center no-repeat;
}


.fatherDiv{
	margin-top:-10px;
	font-size:13px;
	overflow-y: auto;
	overflow-x: auto;
	height:550px;
	clear:both;
}
.childDiv{
	margin-top:-20px;

	overflow-x:hidden;
	overflow-y: auto;
	font-size:13px;
	height:480px;
	
	clear:both;
}
.tableTd38{
	text-align:center;
	width:6107px;
}
.tableTd20{
	text-align:center;
	width:3209px;
}
.tableTd19{
	text-align:center;
	width:3048px;
}
.tableTd18{
	text-align:center;
	width:2887px;
}
.tableTd17{
	text-align:center;
	width:2726px;
}
.tableTd16{
	text-align:center;
	width:2565px;
}
.tableTd15{
	text-align:center;
	width:2404px;
}
.tableTd14{
	text-align:center;
	width:2243px;
}
.tableTd13{
	text-align:center;
	width:2082px;
}
.tableTd12{
	text-align:center;
	width:1921px;
}
.tableTd11{
	text-align:center;
	width:1760px;
}
.tableTd10{
	text-align:center;
	width:1599px;
}
.tableTd9{
	text-align:center;
	width:1438px;
}
.tableTd8{
	text-align:center;
	width:1277px;
}
.tableTd7{
	text-align:center;
	width:1116px;
}
.tableTd6{
	text-align:center;
	width:955px;
}
.tableTd5{
	text-align:center;
	width:794px;
}
.tableTd4{
	text-align:center;
	width:633px;
}
.tableTd3{
	text-align:center;
	width:472px;
}
.tableTd2{
	text-align:center;
	width:311px;
}
.tableTd1{
	text-align:center;
	width:150px;
}
.JRdiv{
	style="height: 760px"
}
.tableTdFirst{
	text-align:center;
	width:200px;
}
.divtop{
	margin-top: -471px;
	height:455px;
}
.divtopTb{
	margin-top: -470px;
	height:455px;
}
.divtopJdYf{
	margin-top: -497px;
}
.divtopJdBs{
	margin-top: -470px;
}
.traa{
	width:130px;
}
.divtopGdYc{
	margin-top: -498px;
}
.tableThYnCo{
	width:1057px;
}
.tableThYnca{
	width:150px;
}
